<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <!--<property name="connection.url">jdbc:hsqldb:file:C:/Users/Olga Pavlova/IdeaProjects/TESTproject/IDEA156059/DB/DB156059</property>
    <property name="connection.driver_class">org.hsqldb.jdbc.JDBCDriver</property>
    <property name="connection.username">sa</property>
    <property name="connection.password"></property>
      <property name="dialect">org.hibernate.dialect.HSQLDialect</property>
    <property name="hbm2ddl.auto">update</property>

    &lt;!&ndash;<mapping class="IDEA149449.RectangleEntity"/>&ndash;&gt;
      &lt;!&ndash;<mapping class="IDEA149449.Convertertest"/>&ndash;&gt;
    <mapping class="IDEA156026.SpaceReservation"/>-->



    <property name="connection.url">jdbc:postgresql://172.27.121.121:15437/DOCKERDB</property>
    <property name="connection.driver_class">org.postgresql.Driver</property>
    <property name="connection.username">root</property>
    <property name="connection.password"></property>
    <property name="dialect">org.hibernate.dialect.HSQLDialect</property>
    <property name="hbm2ddl.auto">update</property>
    <mapping class="IDEA156026.SpaceReservation"/>
    <mapping class="IDEA149449.Convertertest"/>

  </session-factory>



</hibernate-configuration>