<component name="libraryTable">
  <library name="Spring Data JPA-1.3.3">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/SpringBatchSQLSintaxError/lib/spring-data-commons-core-1.1.0.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring/spring-web-3.0.4.RELEASE.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>