<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:hsqldb:file:C:/Users/Olga Pavlova/IdeaProjects/TESTproject/IDEA156059/DB/DB156059</property>
    <property name="connection.driver_class">org.hsqldb.jdbc.JDBCDriver</property>
    <property name="connection.username">sa</property>
    <property name="connection.password"></property>
    <!--<property name="hibernate.hbm2ddl.auto">validate</property>-->

    <!--<mapping class="result156059WithFields.Buss" />-->
    <!--<mapping class="result156059WithFields.Driver" />-->
    <!--<mapping class="result156059WithFields.AbstractBuss" />-->
    <!--<mapping class="IDEA156442.Test" />-->
    <!-- DB schema will be updated if needed -->
    <!-- <property name="hbm2ddl.auto">update</property> -->
    <!--<mapping class="result156059WithProperties.Buss" />-->
    <!--<mapping class="result156059WithProperties.Driver" />-->
    <!--<mapping class="result156059WithProperties.AbstractBuss" />-->
    <!--<mapping class="withoutInheritance.Buss" />-->
    <!--<mapping class="withoutInheritance.Driver" />-->
    <!--<mapping class="test.CreditCardPayment"/>-->
    <!--<mapping class="test.Payment" />-->
    <mapping class="IDEA155378.Testidea15537" />
    <mapping class="IDEA155378.Publication" />
    <mapping class="IDEA155378.Enamel" />

  </session-factory>
</hibernate-configuration>